<div ng-controller="CustomizeUsersController">
	<h2>ADD A USER</h2>
	<form>
		first name: <input type='text' ng-model='first'>
		last name: <input type='text' ng-model='last'>
		fav language: <input type='text' ng-model='lang'>
		<input id='btn' type='submit' value='ADD' ng-click='addUser()'>
	</form>
	<h2>USERS</h2>
    <table>
    	<tr id='head'>
    		<th>
    			<button ng-click='order("first")'>First Name</button>
    			<span class="sortorder" ng-show="predicate === 'first'" ng-class="{reverse:reverse}"></span>
    		</th>
    		<th>
    			<button ng-click='order("last")'>Last Name</button>
    			<span class="sortorder" ng-show="predicate === 'last'" ng-class="{reverse:reverse}"></span>
    		</th>
    		<th>
    			<button ng-click='order("lang")'>Fav Language</button>
    			<span class="sortorder" ng-show="predicate === 'lang'" ng-class="{reverse:reverse}"></span>
    		</th>
    		<th>Actions</th>
    	</tr>
    	<tr ng-repeat='user in users | orderBy:predicate:reverse'>
    		<td>{{ user.first }}</td>
    		<td>{{ user.last }}</td>
    		<td>{{ user.lang }}</td>
    		<td><a href="" ng-click='delUser(user)'>DEL</a></td>
    	</tr>
    </table>
</div>